:root {
    --mainBlack: #151515;
    --mainGreen: #4EE1A0;
    --mainGrey: #242424;
    --mainLightGrey: #D9D9D9;
    --mainWhite: #FFFFFF;

/*--------------Heading XL-----------------------*/
    --XlHeading-Font-Size: 88px;
    --XlHeading-Line-Height: 88px;
    --XlHeading-Font-Weight: 'Space Grotesk Bold'
    --XlHeading-Char-Spacing: -2.5px

/*--------------Heading L------------------------*/
    --LHeading-Font-Size: 48px;
    --LHeading-Line-Height: 56px;
    --LHeading-Font-Weight: 'Space Grotesk Bold'
    --LHeading-Char-Spacing: -1.5px

/*--------------Heading M------------------------*/
    --MHeading-Font-Size: 24px;
    --MHeading-Line-Height: 32px;
    --MHeading-Font-Weight: 'Space Grotesk Bold';

/*--------------Paragraph L----------------------*/
    --LParagraph-Font-Size: 18px;
    --LParagraph-Line-Height: 28px;
    --LParagraph-Font-Weight: 'Space Grotesk Medium';

/*--------------Paragraph M----------------------*/
}

@font-face {
    font-family: 'Space Grotesk';
    src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: var(--mainBlack);
    background-image: url();
    font-family: 'Space Grotesk';
    margin: 0;

}

main {
    margin: 0 17% 0 17%;
}

.navigation h3 {
    font-size: var(--MHeading-Font-Size);
    color: var(--mainWhite);
    font-family: 'Space Grotesk';
    font-weight: Bold;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation img[alt] {
    padding: 0 15px 0 15px;
}

.greeting {
    display: flex;
    justify-content: space-between;
    color: var(--mainWhite);
    height: 720px;
}

.greeting h1 {
    font-size: var(--XlHeading-Font-Size);
    line-height: var(--XlHeading-Line-Height);
    letter-spacing: var(--XlHeading-Char-Spacing);
}

.greeting p {
    font-size: var(--LParagraph-Font-Size);
    line-height: var(--LParagraph-Line-Height);
    letter-spacing: var(--LParagraph-Char-Spacing);
    color: var(--mainLightGrey);
}

.greeting a {
    position: relative;
    top: 30px;
    text-decoration: underline;
    text-decoration-color: var(--mainGreen);
    text-underline-offset: 10px;
    color: var(--mainWhite);
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.profile-img {
    width: 100%;
    height: auto;
}

.img-container {
    position: absolute;
    top: 0;
    right: 17%;
    z-index: -1;
    width: 445px;
    height: 720px;
}

.name {
    text-decoration: underline;
    text-decoration-color: #4EE1A0;
    text-underline-offset: 20px;
}

.skills {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}

.skills h2 {
    color: var(--mainWhite);
    font-size: 48px;
}

.skills p{
    color: var(--mainWhite)
}

.project-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.projects h1 {
    color: var(--mainWhite);
    font-size: var(--XlHeading-Font-Size);
}

.projects img {
    width: 540px;
    height: 400px
}

.projects p {
    color: var(--mainWhite);
    text-transform: uppercase;
}

.projects p:nth-of-type(even) {
    word-spacing: 20px;
    color: var(--mainLightGrey);
}

.contact {
    background-color: var(--mainGrey);
    height: 30vh;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 0 17% 0 17%;
    color: var(--mainWhite);
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    width: 400px;
    height: 50px;
    border: none;
    border-bottom: 2px solid var(--mainGreen);
    margin-bottom: 20px;
    background: none;
}

form textarea {
    background: none;
    border: none;
}

@media screen and (max-width: 599px) {

    body {
        overflow-x: hidden;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .navigation {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    .img-container {
        position: relative;
        top: 3%;
        width: 230px;
        right: 0;
        left: 0;

    }

    .greeting {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .greeting h1 {
        font-size: 48px;
        line-height: var(--LHeading-Line-Height);
    }

    .skills {
        grid-template-columns: auto;
        text-align: center;
    }
    
    .project-grid {
        grid-template-columns: auto;

    }

    .grid-img img {
        width: 100%;
        height: auto;
    }

    .projects {
        padding: 0 3% 0 3%;
    }

    .projects h1 {
        font-size: 24px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .skills {
        display: grid;
        grid-template-columns: auto auto;
    }

    .project-grid {
        grid-template-columns: auto auto;
    }

    .grid-img img {
        width: 100%;
        height: 340px;
    }

    .grid-img {
        margin: 0 10px 0 10px;
    }

    main {
        margin: 0 2%;
    }

    .img-container {
        right: 0;
    }

}
